:root {
    user-select: none
}

#game-space {
    height: 90%;
    margin: 0 auto;
    text-align: center;
    background-color: var(--light-bg);
    display: flex;
    flex-direction: column;
    align-items: center;
}


.beginBTN {
    padding: 1rem;
    background-color: transparent;
    border: 1px solid orange;
    transition: .1s;
    text-transform: uppercase;
    color: #fff;
    font-size: 1rem;
}

.beginBTN:hover {
    scale: .98;
}

.beginBTN:active {
    background-color: #585858;
}

.tile-container {
    display: grid;
    grid-template-columns: repeat(6, 100px);
    grid-gap: 1rem;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(158, 158, 158);
    justify-items: center;
    border-radius: .5rem;
}
  
.tile {
    width: 6rem;
    height: 6rem;
    background-color: #585858;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    cursor: pointer;
    border: .2rem solid transparent;
    overflow: hidden;
}

.tile img {
    width: 8rem;
}
  
.tile.flipped {
    border: .2rem solid orange;
    color: #fff;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.timer p{
    font-size: 1.5rem;
    padding: .5rem;
    margin: 0;
}

.start-info {
    font-size: 1.1rem;
}

.time-finish {
    color: orange;
}

@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .fadeInAnimation {
    animation: fadeIn 1s;
  }
